{% extends "base.html" %}

{% block title %}Dashboard Moderadores{% endblock %}

{% block content %}
    <h1>Gestión de Películas</h1>
    <a href="{% url 'add_movie' %}">Agregar Película</a>
    <br/>
    <br/>
    <br/>
    <table>
        <tr>
            <th>Título</th>
            <th>Género</th>
            <th>Año</th>
            <th>Acciones</th>
        </tr>
        {% for movie in movies %}
            <tr {% if movie.deleted_at %}style="background-color: red;"{% endif %}>
                <td class="px-3">{{  movie.title }}</td>
                <td class="px-3">{{  movie.genre }}</td>
                <td class="px-3">{{  movie.year }}</td>
                <td class="px-3">
                    <a href="{% url 'edit_movie' movie.id %}">Editar</a> |
                    <a href="{% url 'delete_movie' movie.id %}">Eliminar</a> |
                    <a href="{% url 'restore_movie' movie.id %}">Restaurar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
